@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --font-text: "Lato";
  --text-color: #333333;
  --text-button-color: #ffffff;
  --bg-color: #ffffff;
  --bg-color-card-1: #d2eaf4;
  --bg-color-card-2: #efc48f;
  --bg-color-card-3: #eecfcd;
  --bg-color-btn: #333333;
  --border-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-text);
  color: var(--text-color);
}

.container {
  margin: 0 auto;
  display: flex;
}
.container .left-banner .header {
  display: flex;
}
.container .left-banner .header .content {
  position: relative;
}
.container .left-banner .header .content .title img {
  width: 14px;
  height: 14px;
}
.container .left-banner .header .content .bigstar {
  position: absolute;
}
.container .left-banner .header .container-hero {
  position: relative;
  margin-left: 42px;
}
.container .left-banner .header .container-hero .hero-image {
  margin: 0 auto;
  position: relative;
  border: 0.81px solid var(--border-color);
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
}
.container .left-banner .header .container-hero .hero-image .contain-img {
  overflow: hidden;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  position: absolute;
}
.container .left-banner .header .container-hero .hero-image .contain-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .left-banner .header .container-hero .card-review {
  position: absolute;
  z-index: 1;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  background-color: var(--bg-color);
  opacity: 0.8;
  width: 261px;
  height: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 24px;
}
.container .left-banner .header .container-hero .card-review img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}
.container .left-banner .header .container-hero .card-review p {
  width: 149px;
}
.container .left-banner .header .container-hero .card-1 {
  top: 45.49%;
  left: -0.71%;
}
.container .left-banner .header .container-hero .card-2 {
  top: 24.96%;
  left: 56.54%;
}
.container .left-banner .group-card {
  display: flex;
  height: auto;
}
.container .left-banner .group-card .card {
  width: 31.12%;
  height: 100%;
  border: 1px solid var(--border-color);
  box-shadow: 8px 8px var(--bg-color-btn);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.container .left-banner .group-card .card p.title {
  font-weight: 600;
  font-size: 22px;
  line-height: 26.4px;
}
.container .left-banner .group-card .card p.content {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
}
.container .left-banner .group-card .card1 {
  background-color: var(--bg-color-card-1);
}
.container .left-banner .group-card .card2 {
  background-color: var(--bg-color-card-2);
}
.container .left-banner .group-card .card3 {
  background-color: var(--bg-color-card-3);
}
.container .right-banner {
  margin-top: -31px;
  display: flex;
}
.container .right-banner .image {
  border: 1px solid var(--bg-color-btn);
  border-radius: 32px;
  overflow: hidden;
}
.container .right-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-device-width: 1440px) {
  .container {
    width: 91.11%;
    margin-top: 94px;
    justify-content: space-between;
    height: 850px;
  }
  .container .left-banner {
    width: 81.55%;
  }
  .container .left-banner .header {
    justify-content: space-between;
  }
  .container .left-banner .header .content {
    max-width: calc(100% - 665px);
    margin-top: 125px;
  }
  .container .left-banner .header .content .title {
    max-width: 98.89%;
  }
  .container .left-banner .header .content .title .small-title {
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 300;
  }
  .container .left-banner .header .content .title p.title {
    font-size: 56px;
    line-height: 68px;
    font-weight: 600;
  }
  .container .left-banner .header .content p.text-content {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    margin: 32px 0;
  }
  .container .left-banner .header .content button {
    background-color: var(--bg-color-btn);
    font-size: 22px;
    font-weight: 500;
    line-height: 18px;
    color: var(--text-button-color);
    padding: 24px 56px;
    border-radius: 40px;
  }
  .container .left-banner .header .content .bigstar {
    max-width: 139px;
    max-height: 150px;
    top: -75px;
    right: -98px;
  }
  .container .left-banner .header .container-hero {
    width: 665px;
    height: 688px;
  }
  .container .left-banner .header .container-hero .hero-image {
    width: 75.17%;
    height: 99.75%;
  }
  .container .left-banner .header .container-hero .hero-image .contain-img {
    width: 87.3%;
    height: 89.02%;
    top: 6.25%;
    left: 6.18%;
  }
  .container .left-banner .group-card {
    width: 93.1%;
    margin: 48px 0 80px 0;
    justify-content: space-between;
  }
  .container .right-banner {
    flex-direction: column;
    height: 834px;
    gap: 24px;
    justify-content: space-between;
  }
  .container .right-banner .image {
    height: 31.41%;
    width: 200px;
  }
}
@media only screen and (max-device-width: 1439px) and (min-device-width: 1080px) {
  .container {
    max-width: 95.07%;
    margin: 40px auto;
    flex-direction: column;
  }
  .container .left-banner {
    width: 100%;
  }
  .container .left-banner .header {
    justify-content: space-between;
  }
  .container .left-banner .header .content {
    max-width: calc(100% - 665px);
    margin-top: 75px;
  }
  .container .left-banner .header .content .title {
    max-width: 98.07%;
  }
  .container .left-banner .header .content .title .small-title {
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 300;
  }
  .container .left-banner .header .content .title p.title {
    font-size: 56px;
    line-height: 68px;
    font-weight: 600;
  }
  .container .left-banner .header .content p.text-content {
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    margin: 32px 0;
  }
  .container .left-banner .header .content button {
    background-color: var(--bg-color-btn);
    font-size: 22px;
    font-weight: 500;
    line-height: 18px;
    color: var(--text-button-color);
    padding: 24px 56px;
    border-radius: 40px;
  }
  .container .left-banner .header .content .bigstar {
    max-width: 139px;
    max-height: 150px;
    top: -75px;
    right: -98px;
  }
  .container .left-banner .header .container-hero {
    width: 665px;
    height: 688px;
  }
  .container .left-banner .header .container-hero .hero-image {
    width: 75.17%;
    height: 99.75%;
    margin-right: 0;
  }
  .container .left-banner .header .container-hero .hero-image .contain-img {
    width: 89.41%;
    height: 89.74%;
    top: 5.25%;
    left: 5.58%;
  }
  .container .left-banner .header .container-hero .card-1 {
    top: 62.5%;
    left: -0.05%;
  }
  .container .left-banner .header .container-hero .card-2 {
    top: 79.22%;
    left: -0.05%;
  }
  .container .left-banner .group-card {
    width: 100%;
    margin: 48px auto 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .container .left-banner .group-card .card {
    width: 343.3333333333px px;
  }
  .container .right-banner {
    margin: 31px auto 80px auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .container .right-banner .image {
    height: auto;
    width: 31.78%;
  }
}
@media screen and (max-device-width: 1079px) and (min-device-width: 740px) {
  .container {
    max-width: 95.3%;
    margin: 40px auto;
    flex-direction: column;
  }
  .container .left-banner {
    margin: 0 auto;
    width: 95.3%;
  }
  .container .left-banner .header {
    flex-direction: column;
    justify-content: space-between;
  }
  .container .left-banner .header .content {
    max-width: 100%;
    margin-top: 40px;
  }
  .container .left-banner .header .content .title {
    max-width: 100%;
  }
  .container .left-banner .header .content .title .small-title {
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 400;
  }
  .container .left-banner .header .content .title p.title {
    font-size: 45px;
    line-height: 50px;
    font-weight: 600;
  }
  .container .left-banner .header .content p.text-content {
    font-weight: 400;
    font-size: 22px;
    line-height: 28.8px;
    margin: 32px 0;
  }
  .container .left-banner .header .content button {
    background-color: var(--bg-color-btn);
    font-size: 22px;
    font-weight: 500;
    line-height: 18px;
    color: var(--text-button-color);
    padding: 20px 48px;
    border-radius: 40px;
  }
  .container .left-banner .header .content .bigstar {
    bottom: -25%;
    right: 0;
  }
  .container .left-banner .header .container-hero {
    width: 600px;
    height: 780px;
    margin: 30px auto;
  }
  .container .left-banner .header .container-hero .hero-image {
    width: 98.88%;
    height: 100%;
  }
  .container .left-banner .header .container-hero .hero-image .contain-img {
    width: 88.83%;
    height: 89.74%;
    top: 42.9px;
    left: 30.69px;
  }
  .container .left-banner .header .container-hero .card-review {
    width: 300px;
    opacity: 0.9;
  }
  .container .left-banner .header .container-hero .card-1 {
    top: 430px;
    left: -55px;
  }
  .container .left-banner .header .container-hero .card-2 {
    top: 545px;
    left: -55px;
  }
  .container .left-banner .group-card {
    width: 100%;
    margin: 0 auto 0px auto;
    display: inline-block;
  }
  .container .left-banner .group-card .card {
    width: 50%;
    margin-top: 20px;
  }
  .container .left-banner .group-card .card2 {
    margin-left: 25%;
  }
  .container .left-banner .group-card .card3 {
    margin-left: 50%;
  }
  .container .right-banner {
    margin: 51px auto 80px auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .container .right-banner .image {
    height: auto;
    width: 33%;
  }
}
@media screen and (max-device-width: 740px) and (min-device-width: 420px) {
  .container {
    max-width: 100%;
    margin: 2% auto;
    flex-direction: column;
  }
  .container .left-banner {
    margin: 0 auto;
    width: 90%;
  }
  .container .left-banner .header {
    flex-direction: column;
    justify-content: space-between;
  }
  .container .left-banner .header .content {
    max-width: 100%;
    margin-top: 20px;
  }
  .container .left-banner .header .content .title {
    max-width: 100%;
  }
  .container .left-banner .header .content .title .small-title {
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 400;
  }
  .container .left-banner .header .content .title p.title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
  }
  .container .left-banner .header .content p.text-content {
    font-weight: 400;
    font-size: 22px;
    line-height: 28.8px;
    margin: 32px 0;
  }
  .container .left-banner .header .content button {
    background-color: var(--bg-color-btn);
    font-size: 22px;
    font-weight: 500;
    line-height: 18px;
    color: var(--text-button-color);
    padding: 20px 48px;
    border-radius: 40px;
  }
  .container .left-banner .header .content .bigstar {
    max-width: 80px;
    max-height: 86px;
    bottom: 0px;
    right: 0px;
  }
  .container .left-banner .header .container-hero {
    width: 410px;
    height: 600px;
    margin: 20px auto;
  }
  .container .left-banner .header .container-hero .hero-image {
    width: 100%;
    height: 100%;
  }
  .container .left-banner .header .container-hero .hero-image .contain-img {
    width: 85.37%;
    height: 86.67%;
    top: 7.46%;
    left: 7.04%;
  }
  .container .left-banner .header .container-hero .card-review {
    width: 78.05%;
    opacity: 0.9;
  }
  .container .left-banner .header .container-hero .card-1 {
    top: 50%;
    left: -4.88%;
  }
  .container .left-banner .header .container-hero .card-2 {
    top: 69.17%;
    left: -4.88%;
  }
  .container .left-banner .group-card {
    width: 95%;
    margin: 0 auto 0px auto;
    display: block;
  }
  .container .left-banner .group-card .card {
    width: 95%;
    margin-top: 20px;
  }
  .container .right-banner {
    margin: 51px auto 80px auto;
    width: 95%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .container .right-banner .image {
    height: auto;
    width: 80%;
    margin-top: 20px;
  }
}
@media screen and (max-device-width: 420px) {
  .container {
    max-width: 100%;
    margin: 2% auto;
    flex-direction: column;
  }
  .container .left-banner {
    margin: 0 auto;
    width: 90%;
  }
  .container .left-banner .header {
    flex-direction: column;
    justify-content: space-between;
  }
  .container .left-banner .header .content {
    max-width: 100%;
    margin-top: 20px;
  }
  .container .left-banner .header .content .title {
    max-width: 100%;
  }
  .container .left-banner .header .content .title .small-title {
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 400;
  }
  .container .left-banner .header .content .title p.title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
  }
  .container .left-banner .header .content p.text-content {
    font-weight: 400;
    font-size: 22px;
    line-height: 28.8px;
    margin: 32px 0;
  }
  .container .left-banner .header .content button {
    background-color: var(--bg-color-btn);
    font-size: 22px;
    font-weight: 500;
    line-height: 18px;
    width: 100%;
    color: var(--text-button-color);
    padding: 20px 48px;
    border-radius: 40px;
  }
  .container .left-banner .header .content .bigstar {
    display: none;
  }
  .container .left-banner .header .container-hero {
    width: 100%;
    height: 450px;
    margin: 20px auto;
  }
  .container .left-banner .header .container-hero .hero-image {
    width: 95%;
    height: 100%;
  }
  .container .left-banner .header .container-hero .hero-image .contain-img {
    width: 95%;
    height: 95.57%;
    top: 2%;
    left: 3%;
  }
  .container .left-banner .header .container-hero .card-review {
    width: 90%;
    height: auto;
    opacity: 0.8;
  }
  .container .left-banner .header .container-hero .card-1 {
    display: none;
  }
  .container .left-banner .header .container-hero .card-2 {
    top: 65%;
    left: -10px;
  }
  .container .left-banner .group-card {
    width: 100%;
    margin: 0 auto 0px auto;
    flex-direction: column;
  }
  .container .left-banner .group-card .card {
    width: 95%;
    margin-top: 20px;
  }
  .container .right-banner {
    margin: 51px auto 80px auto;
    width: 95%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .container .right-banner .image {
    height: auto;
    width: 80%;
    margin-top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
