//import font
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --font-text: "Lato";
  --text-color: #333333;
  --text-button-color: #ffffff;
  --bg-color: #ffffff;
  --bg-color-card-1: #d2eaf4;
  --bg-color-card-2: #efc48f;
  --bg-color-card-3: #eecfcd;
  --bg-color-btn: #333333;
  --border-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-text);
  color: var(--text-color);
}

.container {
  margin: 0 auto;
  display: flex;

  .left-banner {
    .header {
      display: flex;

      .content {
        position: relative;

        .title {
          img {
            width: 14px;
            height: 14px;
          }
        }
        .bigstar {
          position: absolute;
        }
      }

      .container-hero {
        position: relative;
        margin-left: 42px;

        .hero-image {
          margin: 0 auto;
          position: relative;
          border: 0.81px solid var(--border-color);
          border-top-left-radius: 300px;
          border-top-right-radius: 300px;
          .contain-img {
            overflow: hidden;
            border-top-left-radius: 300px;
            border-top-right-radius: 300px;
            position: absolute;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .card-review {
          position: absolute;
          z-index: 1;
          border: 1px solid var(--border-color);
          border-radius: 16px;
          background-color: var(--bg-color);
          opacity: 0.8;

          // width: 39.25%;
          // height: 14.39%;
          width: 261px;
          height: 99px;

          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
          padding: 24px;

          img {
            width: 48px;
            height: 48px;
            object-fit: cover;
            border-radius: 50%;
          }

          p {
            width: 149px;
          }
        }

        .card-1 {
          top: 45.49%;
          left: -0.71%;
        }
        .card-2 {
          top: 24.96%;
          left: 56.54%;
        }
      }
    }

    .group-card {
      display: flex;
      height: auto;

      .card {
        width: 31.12%;
        height: 100%;
        border: 1px solid var(--border-color);
        box-shadow: 8px 8px var(--bg-color-btn);
        border-radius: 16px;
        padding: 16px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        p.title {
          font-weight: 600;
          font-size: 22px;
          line-height: 26.4px;
        }
        p.content {
          font-weight: 400;
          font-size: 14px;
          line-height: 16.8px;
        }
      }

      .card1 {
        background-color: var(--bg-color-card-1);
      }
      .card2 {
        background-color: var(--bg-color-card-2);
      }
      .card3 {
        background-color: var(--bg-color-card-3);
      }
    }
  }

  .right-banner {
    margin-top: -31px;
    display: flex;

    .image {
      border: 1px solid var(--bg-color-btn);
      border-radius: 32px;
      overflow: hidden;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@mixin position-star($height) {
  top: -($height / 2);
  right: -98px;
}

//======================== PC: width > 1440px ========================
@media only screen and (min-device-width: 1440px) {
  .container {
    width: 91.11%; //1312px
    margin-top: 94px;
    justify-content: space-between;
    height: 850px;

    .left-banner {
      width: 81.55%; //1070px

      .header {
        justify-content: space-between;
        .content {
          max-width: calc(100% - 665px);
          margin-top: 125px;

          .title {
            max-width: 98.89%;

            .small-title {
              font-size: 18px;
              line-height: 21.6px;
              font-weight: 300;
            }

            p.title {
              font-size: 56px;
              line-height: 68px;
              font-weight: 600;
            }
          }

          p.text-content {
            font-weight: 400;
            font-size: 24px;
            line-height: 28.8px;
            margin: 32px 0;
          }

          button {
            background-color: var(--bg-color-btn);
            font-size: 22px;
            font-weight: 500;
            line-height: 18px;
            color: var(--text-button-color);
            padding: 24px 56px;
            border-radius: 40px;
          }

          .bigstar {
            max-width: 139px;
            max-height: 150px;
            @include position-star(150px);
          }
        }

        .container-hero {
          width: 665px;
          height: 688px;

          .hero-image {
            width: 75.17%; //499.85px
            height: 99.75%; //686.3px

            .contain-img {
              width: 87.3%;
              height: 89.02%;

              top: 6.25%;
              left: 6.18%;
            }
          }

          // .card-review {
          // }
        }
      }
      .group-card {
        width: 93.1%;
        margin: 48px 0 80px 0;
        justify-content: space-between;
      }
    }

    .right-banner {
      flex-direction: column;
      height: 834px;
      gap: 24px;
      justify-content: space-between;

      .image {
        height: 31.41%;
        width: 200px;
      }
    }
  }
}

//======================== Tablet: 1440px > width >= 1080px ========================
@media only screen and (max-device-width: 1439px) and (min-device-width: 1080px) {
  .container {
    max-width: 95.07%;
    margin: 40px auto;
    flex-direction: column;

    .left-banner {
      width: 100%;

      .header {
        justify-content: space-between;
        .content {
          max-width: calc(100% - 665px);
          margin-top: 75px;

          .title {
            max-width: 98.07%;

            .small-title {
              font-size: 18px;
              line-height: 21.6px;
              font-weight: 300;
            }

            p.title {
              font-size: 56px;
              line-height: 68px;
              font-weight: 600;
            }
          }

          p.text-content {
            font-weight: 400;
            font-size: 24px;
            line-height: 28.8px;
            margin: 32px 0;
          }

          button {
            background-color: var(--bg-color-btn);
            font-size: 22px;
            font-weight: 500;
            line-height: 18px;
            color: var(--text-button-color);
            padding: 24px 56px;
            border-radius: 40px;
          }

          .bigstar {
            max-width: 139px;
            max-height: 150px;
            @include position-star(150px);
          }
        }

        .container-hero {
          width: 665px;
          height: 688px;

          .hero-image {
            width: 75.17%; //499.85px
            height: 99.75%; //686.3px
            margin-right: 0;

            .contain-img {
              width: 89.41%;
              height: 89.74%;

              top: 5.25%;
              left: 5.58%;
            }
          }

          .card-1 {
            top: 62.5%;
            left: -0.05%;
          }
          .card-2 {
            top: 79.22%;
            left: -0.05%;
          }
        }
      }

      .group-card {
        width: 100%;
        margin: 48px auto 0px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        gap: 20px;

        .card {
          width: calc((1070px - 40px) / 3) px;
        }
      }
    }

    .right-banner {
      margin: 31px auto 80px auto;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;

      .image {
        height: auto;
        width: 31.78%;
      }
    }
  }
}

//======================== Tablet: 1080px > width >= 740px ========================
@media screen and (max-device-width: 1079px) and (min-device-width: 740px) {
  .container {
    max-width: 95.3%;
    margin: 40px auto;
    flex-direction: column;

    .left-banner {
      margin: 0 auto;
      width: 95.3%;

      .header {
        flex-direction: column;
        justify-content: space-between;
        .content {
          max-width: 100%;
          margin-top: 40px;

          .title {
            max-width: 100%;

            .small-title {
              font-size: 18px;
              line-height: 21.6px;
              font-weight: 400;
            }

            p.title {
              font-size: 45px;
              line-height: 50px;
              font-weight: 600;
            }
          }

          p.text-content {
            font-weight: 400;
            font-size: 22px;
            line-height: 28.8px;
            margin: 32px 0;
          }

          button {
            background-color: var(--bg-color-btn);
            font-size: 22px;
            font-weight: 500;
            line-height: 18px;
            color: var(--text-button-color);
            padding: 20px 48px;
            border-radius: 40px;
          }

          .bigstar {
            bottom: -25%;
            right: 0;
          }
        }

        .container-hero {
          width: 600px;
          height: 780px;
          margin: 30px auto;

          .hero-image {
            width: 98.88%;
            height: 100%;

            .contain-img {
              width: 88.83%;
              height: 89.74%;

              top: 42.9px;
              left: 30.69px;
            }
          }

          .card-review {
            width: 300px;
            opacity: 0.9;
          }

          .card-1 {
            top: 430px;
            left: -55px;
          }
          .card-2 {
            top: 545px;
            left: -55px;
          }
        }
      }

      .group-card {
        width: 100%;
        margin: 0 auto 0px auto;
        // flex-direction: column;
        display: inline-block;

        .card {
          width: 50%;
          margin-top: 20px;
        }

        .card2 {
          margin-left: 25%;
        }
        .card3 {
          margin-left: 50%;
        }
      }
    }

    .right-banner {
      margin: 51px auto 80px auto;
      width: 100%;

      flex-direction: row;
      justify-content: space-between;

      .image {
        height: auto;
        width: 33%;
      }
    }
  }
}

//======================== Mobile: 740px > width >= 420px ========================
@media screen and (max-device-width: 740px) and (min-device-width: 420px) {
  .container {
    max-width: 100%;
    margin: 2% auto;
    flex-direction: column;

    .left-banner {
      margin: 0 auto;
      width: 90%;

      .header {
        flex-direction: column;
        justify-content: space-between;
        .content {
          max-width: 100%;
          margin-top: 20px;

          .title {
            max-width: 100%;

            .small-title {
              font-size: 18px;
              line-height: 21.6px;
              font-weight: 400;
            }

            p.title {
              font-size: 40px;
              line-height: 50px;
              font-weight: 600;
            }
          }

          p.text-content {
            font-weight: 400;
            font-size: 22px;
            line-height: 28.8px;
            margin: 32px 0;
          }

          button {
            background-color: var(--bg-color-btn);
            font-size: 22px;
            font-weight: 500;
            line-height: 18px;
            color: var(--text-button-color);
            padding: 20px 48px;
            border-radius: 40px;
          }

          .bigstar {
            max-width: 80px;
            max-height: 86px;

            bottom: 0px;
            right: -0px;
          }
        }

        .container-hero {
          width: 410px;
          height: 600px;
          margin: 20px auto;

          .hero-image {
            width: 100%;
            height: 100%;

            .contain-img {
              width: 85.37%;
              height: 86.67%;

              top: 7.46%;
              left: 7.04%;
            }
          }

          .card-review {
            width: 78.05%;
            opacity: 0.9;
          }

          .card-1 {
            top: 50%;
            left: -4.88%;
          }
          .card-2 {
            top: 69.17%;
            left: -4.88%;
          }
        }
      }

      .group-card {
        width: 95%;
        margin: 0 auto 0px auto;
        display: block;

        .card {
          width: 95%;
          margin-top: 20px;
        }
      }
    }

    .right-banner {
      margin: 51px auto 80px auto;
      width: 95%;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .image {
        height: auto;
        width: 80%;
        margin-top: 20px;
      }
    }
  }
}

//======================== Mobile: width > 420px ========================
@media screen and (max-device-width: 420px) {
  .container {
    max-width: 100%;
    margin: 2% auto;
    flex-direction: column;

    .left-banner {
      margin: 0 auto;
      width: 90%;

      .header {
        flex-direction: column;
        justify-content: space-between;
        .content {
          max-width: 100%;
          margin-top: 20px;

          .title {
            max-width: 100%;

            .small-title {
              font-size: 18px;
              line-height: 21.6px;
              font-weight: 400;
            }

            p.title {
              font-size: 40px;
              line-height: 50px;
              font-weight: 600;
            }
          }

          p.text-content {
            font-weight: 400;
            font-size: 22px;
            line-height: 28.8px;
            margin: 32px 0;
          }

          button {
            background-color: var(--bg-color-btn);
            font-size: 22px;
            font-weight: 500;
            line-height: 18px;
            width: 100%;
            color: var(--text-button-color);
            padding: 20px 48px;
            border-radius: 40px;
          }

          .bigstar {
            display: none;
          }
        }

        .container-hero {
          width: 100%;
          height: 450px;
          margin: 20px auto;

          .hero-image {
            width: 95%;
            height: 100%;

            .contain-img {
              width: 95%;
              height: 95.57%;

              top: 2%;
              left: 3%;
            }
          }

          .card-review {
            width: 90%;
            height: auto;
            opacity: 0.8;
          }

          .card-1 {
            display: none;
          }
          .card-2 {
            top: 65%;
            left: -10px;
          }
        }
      }

      .group-card {
        width: 100%;
        margin: 0 auto 0px auto;
        flex-direction: column;

        .card {
          width: 95%;
          margin-top: 20px;
        }
      }
    }

    .right-banner {
      margin: 51px auto 80px auto;
      width: 95%;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .image {
        height: auto;
        width: 80%;
        margin-top: 20px;
      }
    }
  }
}
